* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;  /* დროებითი */
}

:root {
    --main-bg-color: #f9fafa;
    --second-bg-color: #fff;
    --main-text-color: #555f62;
    --black-text-color: #141719;
    --light-text-color: #fff;
    --border-color: #eef1f1;
    --main-link-color: #182cc0;
    --hovered-link-color: #3295ce;
    --font-size: 12px;
}

html, body, main {
    width: 100%;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: var(--font-size);
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 82px;
    background-color: var(--second-bg-color);
    border-bottom: 1px solid var(--border-color);
    padding: 5px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 9999;
    overflow-x: hidden;
}

.header-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.search-btn, .choose {
    margin-right: 15px;
}

.choose > a {
    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    color: var(--main-link-color);
    font-weight: bold;
}

.choose > a:hover {
    color: var(--hovered-link-color);
}

.choose > a > svg {
    margin-right: 5px;
}

.menu-btn-line {
    background-color: var(--main-text-color);
    height: 2px;
    border-radius: 1px;
    margin-top: 5px;
}
.line1 {
    width: 10px;
}
.line2 {
    width: 20px;
}
.line3 {
    width: 15px;
}

/* Hero */

.hero-section {
    color: var(--light-text-color);
}

.go-back-btn {
    display: flex;
    align-items: center;
    color: var(--black-text-color);
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.hero-bg > img {
    margin-right: 5px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: brightness(0.7);
}

.hero-main {
    position: relative;
    top: -220px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.7;
}

h1 {
    font-size: 16px;
    margin-bottom: 20px;
}

.hero-main > button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
    color: var(--light-text-color);
    background-color: var(--main-link-color);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-top: 20px;
}

.hero-main > button:hover {
    background-color: var(--hovered-link-color);
}

.hero-main > button > svg {
    margin-right: 5px;
}

.hero-text {
    color: var(--black-text-color);
    position: relative;
    top: -150px;
    margin-left: 20px;
    font-size: 28px;
}

/* Packages */
.pkgs-section > h2 {
    font-size: 16px;
    color: var(--black-text-color);
    margin: 20px;
}
.pkgs-section .slider {
    display: flex;
    margin-left: 20px;
    width: 100%;
    overflow: hidden;
}
.pkgs-section article, .pkgs-section a {
    color: var(--light-text-color);
}
.pkgs-section article {
    height: 255px;
    width: 255px;
    margin-right: 15px;
}
.pkgs-section article > img {
    height: 255px;
    width: 255px;
    object-fit: cover;
    border-radius: 7px;
    z-index: 1;
    filter: brightness(70%);
}
.pkgs-section article > h1 {
    z-index: 2;
    position: relative;
    top: -90px;
    right: -20px;
}
.pkgs-section article > a {
    z-index: 2;
    position: relative;
    top: -80px;
    right: -20px;
    font-weight: bold;
    display: flex;
    align-items: center;

    svg {
        margin-right: 5px;
    }
}
.pkgs-section article > a:hover {
    color: var(--main-text-color);
}

/* Statistic */
.statistics-section {
    margin-top: 70px;
    div {
        background-color: var(--second-bg-color);
        margin: 20px;
        border-radius: 5px;
        padding: 20px;
        .stats {
            color: var(--black-text-color);
            font-size: 42px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .stat-category {
            font-size: 16px;
            font-weight: 500;
        }
    }
}
/* Offers */
.offers-section {
    margin-top: 80px;
    h2 {
        color: var(--black-text-color);
        margin-left: 20px;
        font-size: 16px;
    };
    .offers-slider{
        display: flex;
        width: 100%;
        overflow: hidden;
        article {
            border: 1px solid var(--border-color);
            border-radius: 5px;
            max-width: 250px;
            margin: 20px;
            padding-bottom: 20px;
            img {
                background-color: var(--main-text-color);
                width: 250px;
                height: 150px;
                /* border-radius: 5px, 0; */
            };
            .tags {
                display: flex;
                margin: 20px;
                p {
                    margin-right: 10px;
                };
            };
            .offer {
                color: var(--black-text-color);
                font-size: 18px;
                margin: 20px;
                font-weight: bold;
            };
        }
    }
}

/* Digital Bank */
.degital-bank-section {
    background-color: var(--second-bg-color);
    width: 100%;
    padding: 30px 20px;
    margin-top: 80px; /* სლაიდერის პროგრესის ხაზის დამატების შემდგომ შეიძლება შევცვალო */
    h2 {
        margin-bottom: 20px;
        color: var(--black-text-color);
        font-size: 16px;
    }
    img {
        margin-top: 10px;
        width: 290px;
    }
    >p{
        font-size: 16px;
        margin-top: 20px;
    }
    button {
        width: 290px;
        height: 50px;
        color: var(--main-link-color);
        border: none;
        border: 1px solid var(--main-link-color);
        border-radius: 5px;
        background-color: var(--second-bg-color);
        margin-top: 20px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 5px;
        }
    }
}
/* Products */
.products-section {
    margin-top: 80px;
    h2 {
        font-size: 16px;
        color: var(--black-text-color);
        margin-left: 20px;
    }
    .slider {
        display: flex;
        overflow-x: hidden;
        article {
            margin: 20px;
            border: 1px solid var(--border-color);
            height: 300px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            img {
                background-color: #555f62;
                height: 150px;
                width: 235px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            h1 {
                color: var(--black-text-color);
                margin: 20px;
            }
            p {
                font-size: 14px;
                margin: 20px;

            }
        }
    }

}
/* Private Banker */
.personal-banking-section {
    color: var(--light-text-color);
    height: 320px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
    }
    >div {
        position: relative;
        top: -200px;
        width: 100%;
        padding: 20px;
        p {
            margin: 20px 0;
            font-size: 16px;
        }
        button {
            height: 50px;
            border: none;
            color: var(--light-text-color);
            background-color: var(--main-link-color);
            font-weight: bold;
            border-radius: 5px;
            width: 100%;
        }
    }
}
/* Rewards */
.rewards-section {
    margin-top: 80px;
    padding: 20px;
    h2 {
        font-size: 14px;
        font-weight: bold;
        color: var(--black-text-color);
    }
    .slider {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        div {
            flex-grow: 0;
            flex-shrink: 0;
            width: 235px;
            height: 285px;
            padding: 30px;
            background-color: var(--second-bg-color);
            margin-right: 15px;
            img {
                width: 110px;
            }
            :nth-child(2) {
                color: var(--black-text-color);
                font-size: 16px;
                font-weight: bold;
                line-height: 30px;
            }
            :nth-child(3) {
                font-size: 16px;
                margin-top: 20px;
            }
            
        }
    }
}

/* Footer */
footer {
    background-color: var(--second-bg-color);
    width: 100%;


    .footer-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        .lang {
            background-color: var(--main-bg-color);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 40px;
            border-radius: 3px;
            color: var(--main-text-color);
            font-size: 16px;
            font-weight: bold;
            svg {
                margin-right: 5px;
            }
        }
    }
    .footer-brakedowns {
        details {
            padding: 20px;
            border-bottom: 1px solid #d1d5d6;

            summary {
                width: 100%;
                font-size: 18px;
                font-weight: bold;
                color: var(--black-text-color);
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
            };

            a {
                text-decoration: none;
                color: var(--main-text-color);
                font-size: 16px;
                display: flex;
                flex-direction: column;
                margin: 20px 0;
            }
        }
    }
    >address {
        font-style: normal;
        padding-left: 20px;
        font-size: 16px;
        >p {
            color: var(--black-text-color);
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: var(--main-text-color);
            font-weight: bold;
            display: block;
            margin: 20px 0;
            p{
                display: inline;
                margin-left: 5px;
            }
        }
        .socnets {
            font-size: 16px;
            color: var(--black-text-color);
            font-weight: bold;
            div {
                display: flex;
                margin: 20px 0;
                a {
                    background-color: var(--main-bg-color);
                    text-decoration: none;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    margin-right: 15px;
                }
                a:hover {
                    color: var(--main-link-color);
                }
            }
        }

        
    }
    .footer-copy {
        border-top: 1px solid var(--border-color);
        padding: 20px;
        >p {
            font-size: 16px;
            margin-bottom: 20px;
        }
        div {
            display: flex;
            align-items: center;
            font-size: 16px;
            img {
                height: 20px;
                width: 20px;
                margin-right: 10px;
            }
        }
    }
}
/* Cookies */
.cookies {
    height: 100px;
    width: 290px;
    background-color: var(--second-bg-color);
    display: none; /* flex */
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    bottom: 20px;
    left: 15px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    >img {
        height: 30px;
    }
    button {
        background-color: unset;
        border: none;
        display: flex;
        align-items: center;
        color: var(--main-link-color);
        text-transform: uppercase;
        font-weight: bold;
        svg {
            margin-right: 5px;
        }
    }
}
/* Support Menu */
.support-btns {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--main-text-color);
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 80%;
    }
}

/* Media Queries */